@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #6e69fea2;
  --primary-dark: #403bc5;
  --primary-light: #dddcf8;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5rem;
}

nav {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-dark);
  color: white;
  border: 2px solid transparent;
  box-shadow: none;
  outline: none;
  border-radius: 7px;
  transition: all 0.1s;
}

button:hover {
  color: var(--primary-dark);
  background-color: transparent;
  border: 2px solid var(--primary-dark);
}

.btn-secondry {
  background-color: white;
  color: var(--primary-dark);
}

.btn-secondry:hover {
  background-color: var(--primary-dark);
  color: white;
}

.mt-2 {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-dark);
}

.logo {
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--primary);
}

.nav-items {
  padding-left: 1.5rem;
}

.hero {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: 40%;
}

.hero-heading {
  font-size: 2.5rem;
  margin: 0;
}

.hero-para {
  font-size: 1.3rem;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.card-section {
  margin: 4rem 0;
}

.card-section-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  padding: 1rem 2rem;
  padding-bottom: 0;
  border-radius: 7px;
  background-color: var(--primary-light);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 23px -13px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 0px 23px -13px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 23px -13px rgba(0, 0, 0, 0.69);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.color-block {
  background-color: var(--primary-dark);
  color: white;
  padding: 2rem 0;
}

.product-section-heading {
  font-size: 2rem;
  line-height: 100%;
  margin-bottom: 2.5rem;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-wrapper > * {
  width: 20%;
  border-radius: 7px;
  background-color: var(--primary);
  padding: 1rem;
}

.product-wrapper img {
  width: 100%;
  border-radius: 7px;
}

/* mobile section */

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem;
  }
  nav {
    margin: 0 !important;
  }
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }
  .hero img {
    width: 80%;
    margin: 4rem 0;
  }
  .hero-heading {
    line-height: 100%;
  }
  .card {
    margin-bottom: 1rem;
    width: 100%;
  }
  .product-wrapper {
    flex-direction: column;
  }
  .product-wrapper > * {
    width: 100%;
    margin-bottom: 1rem;
  }
}
