@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #6e69fea2;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5rem;
}

nav {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}

.nav-items {
    padding-left: 1.5rem;
}

.hero {
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    font-size: 2.5rem;
    margin: 0;
}

.hero-para {
    font-size: 1.3rem;
    opacity: 0.8;
    margin-bottom: 1.5rem;
}